body {
    background: black;
    color: white;
    padding: .3em;
    font-family: "Press Start 2P";
    text-transform: uppercase;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

p {
    /* padding-bottom: 1em; */
}

#logo {
    margin: 0px auto 16px auto;
    display: block;
}

#subtitle {
    text-align: center;
    font-size: 32px;
}

header {
    padding: 32px;
    border: 4px solid white;
    margin: 32px auto;
    width: 600px;
    background: #800;
    position: relative;
}

.rivet {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    box-shadow: 4px 4px 0 black;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.game-pane {
    width: 42%;
    /* box-sizing: border-box; */
    border: 4px white solid;
    outline: 2px black solid;
    padding: 20px;
    /* outline-offset: 1px; */
}

#player-pane {
    text-align: center;
    border: none;
}

.player-container {
    text-align: center;
}

.pane-header {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 4px solid white;
    text-align: center;
    background: #004;
}

#health-bar{
    display: inline-block;
    width: 240px;
    height: 24px;
    background: url("../images/heart.png")
}

#versus {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.player-box {
    width: 100px;
    height: 100px;
    border: 4px solid white;
    display: inline-block;
    vertical-align: middle;
}

.player-one {

}

.player-two {

}

.word-container {
    text-align: center;
}
#hangman {
    text-align: center;
}

.rivet1, .rivet3 {
    left: 20px
}

.rivet1, .rivet2 {
    top: 20px;
}

.rivet3, .rivet4 {
    bottom: 20px;
}

.rivet2, .rivet4 {
    right: 20px;
}




#player-pane.theme-mario #img-player {
    content: url("../images/avatarMario.png");
}

#player-pane.theme-mario #img-opponent {
    content: url("../images/avatarBowser.png");
}


#player-pane.theme-zelda #img-player {
    content: url("../images/avatarLink.png");
}

#player-pane.theme-zelda #img-opponent {
    content: url("../images/avatarGanon.png");
}